<% @page_title = "Events created by " + @user.first_name %>

<!-- Display table of events created by the user (@filtered is set in the
  users_controller, action myevents) -->
<div class = 'events-list'>

  <%= render(:partial => 'filtered_events', :locals => { :filtered => @filtered }) %>

</div>
