<%= link_to "Sign out", :controller => 'access', :action => 'logout' %>
<div><%= link_to("View Events on Campus", events_path) %></div>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<h1>My Profile</h1>


<div id='calendar' data-calendar = '<%= @user.id %>'></div>

<%#= image_tag @user.avatar.url(:thumb), :class => 'user_img' %>

