<% @page_title = "Create Event" %>

<%= link_to("<< Back to List", events_path, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Event</h2>

  <%= form_for(@event) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Event") %>
    </div>

  <% end %>
</div>