/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

$font-stack: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
/* $font-stack: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
/* Using Monochromatic Color scheme here: http://www.colorhexa.com/356094 */
$blue-light: #5486c2;
$blue-reg: #4479ba;
$blue-dark: #356094;
$blue-darker: #2e5481;
$blue-darkest: #213b5c;

.profile_header {
 text-align: left;
 border-spacing: 30px 5px;  /* horizontal, vertical */
}

.notice {
 color: navy;
 font-weight: bold;
}

body {
    font-family: $font-stack;
    margin-left: 3em;
    margin-right: 3em;
}

a {
    text-decoration: none;
    font-weight: bold;
    // color: $blue-light;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: $blue-darker;
}

h1 {
    margin: 0;
}

h3 {
    margin: .4em;
}
