




/*
table.fixed {table-layout:fixed; width:700px;}
*/
#col1 {width: 225px;}
#col2 {width: 180px;}
#col3 {width: 140px;}


.buttons_table input {
    background-color:transparent;
    border: solid 1px #20538D;
    border-radius: 4px;
    font-size: 12px;
    background: #4479BA;
    color: #FFF;
    padding: .8em 1em;
}

/* inherit all from .buttons_table input except the properties
 * specified here */
.buttons_table input.unselected_button {
    text-shadow: none;
    background: none;
    color: #4479BA;
}

.buttons_table input:hover, .buttons_table input:focus {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

/* inherit all from .buttons_table input:hover and input:focus except the
 * properties specified here */
.buttons_table input.unselected_button:hover,
.buttons_table input.unselected_button:focus {
    color: #FFF;
}

/* keep uniform width for the "radio" selection buttons */
.buttons_table input.unselected_button,
.buttons_table input.selected_button {
    width: 90px;
}

.buttons_table input.user_options{
    padding: .2em .4em;
}

.odd, .odd a {
    background: #4479BA;
    color:white;
}

.even, .even a {
    background: none;
	color: black;
}

.attendees_list_div{
    /*min-height: 3em;*/
}

.event_info_table {
    /*border: solid 4px #20538D;*/
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    /*width: 100%;*/
}

.event_info_table th {
    text-align: right;
    vertical-align: top;
    padding-right: 1em;
}

#attendees_list {
    /*min-height: 2em;*/
    /*padding-bottom: .5em;*/
    /*margin-left: .5em;*/
}


#header {
    clear: both;
    text-align: left;
    color: #F2DC87;
}

#header img {
    align: middle;
}


/*
 .button_to {

	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	outline:none;
	background: white;

}
*/


/*

.buttons_table td {
	{
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
}
*/

/*table.fixed .header {display: table-header-group;}*/

/*
table.fixed td {overflow:hidden;}

table.fixed th:nth-of-type(1) {width:500px; float:left;}
table.fixed th:nth-of-type(2) {width:250px;,  float:left;}
table.fixed th:nth-of-type(3) {width:250px;


table.fixed td:nth-of-type(1) {width:500px;}

table.fixed td:nth-of-type(2) {width:250px;}
table.fixed td:nth-of-type(3) {width:250px;}
*/

.field_with_errors { }
.field_with_errors label { color: #AA0000; }
.field_with_errors input { border: 1px solid #AA0000; }
